body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /*background: linear-gradient(#e4e0ba, #f7d9aa);*/
  background-image: linear-gradient(to bottom, #458ac6, #4a88c4, #4f86c2, #5485c0, #5883be, #5d84bd, #6286bd, #6687bc, #6d8cbc, #7391bd, #7a95bd, #819abd);
}
